html{
    height: 100%;
}
body {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}
.conteiner{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    text-align: center;
    height: auto;
    margin: 0 auto;
    font-family: 'Aleo', serif;
    font-family: 'Red Hat Text', sans-serif;
    }
    h3{
        text-transform: uppercase;
    }
.hide{
    display: none;
}
.show{
    display: block;
}