.conteiner{
    max-width: 1440px;
    
    height: auto;
    margin: 0 auto;
    font-family: 'Aleo', serif;
    font-family: 'Red Hat Text', sans-serif;
    }
    h3{
        text-transform: uppercase;
    }