.slider__line{
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: center;
    
}
.slider__img{
    width: 400px;
    height: auto;
}
.slider__nav{
    display: flex;
    gap: 35px;
    justify-content: center;
}