@charset "UTF-8";
.conteiner {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  font-family: "Aleo", serif;
  font-family: "Red Hat Text", sans-serif;
}

h3 {
  text-transform: uppercase;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.bgimage {
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  padding: 15px 0;
  background: rgba(242, 120, 92, 0.7);
}

.header__nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 35px;
  margin-left: 10.5vw;
  gap: 25px;
}

.logo {
  display: flex;
}
.logo img {
  margin-right: 6px;
}

.logo__title {
  left: 156px;
  top: 25px;
  font-family: "Magra";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.header__nav ul li {
  list-style: none;
}
.header__nav ul li a {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.header__btn {
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 10px 30px;
  border: none;
  margin-left: 13vw;
}

.main__search {
  margin: 32px 0 0 120px;
}

.title__header {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  line-height: 80px;
  color: #FFFFFF;
}

.title__description {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 30px 0;
}

.form {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  width: 60%;
  height: 95px;
  display: flex;
  justify-content: space-between;
}
.form input::placeholder {
  Font: Aleo;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 28px;
  color: #F2785C;
}
.form input[type=text] {
  Font: Aleo;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 28px;
  color: #F2785C;
  background: none;
  border: none;
  outline: none;
  margin: 35px 41px;
  width: auto;
}
.form input[type=submit] {
  margin: 35px 41px;
  cursor: pointer;
  background-color: #0D606F;
  color: #fff;
  margin: 18px 18px;
  padding: 10px 32px;
  text-align: center;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}

.steps {
  margin-top: 334px;
  text-align: center;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  /* identical to box height */
  color: #F2785C;
}

.steps__elem {
  display: flex;
  gap: 20%;
  justify-content: center;
}

.elem__icon {
  background-color: #F2785C;
  max-width: 100px;
  max-height: 100px;
  border-radius: 16px;
  margin-top: 30px;
}
.elem__icon img {
  margin: 24px;
}

.steps__icon {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.steps__icon h5 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #0D606F;
}

.slider__title {
  margin: 6.4vh 0 3vh 0;
}

.slider__content {
  display: flex;
  justify-content: center;
}

.slider__control {
  display: flex;
  justify-content: center;
  margin: 1.6vh 0 2.6vh 0;
  gap: 10px;
}

.readmore__btn {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: 0 auto;
  align-items: center;
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 10px 30px;
  border: none;
}
.readmore__btn img {
  width: 35px;
}

.stories > h3 {
  margin: 6.2vh 0 3.2vh 0;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
}

.stories__conteiner {
  margin: 2.6vh 8vw;
}

.stories__item {
  display: flex;
  justify-content: center;
  margin-bottom: 2.3vh;
}

.stories__photo {
  width: 28vw;
}

.stories__content {
  width: 60%;
}
.stories__content h4 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 2.3vw;
  line-height: 3.3vh;
  color: #0D606F;
  margin-bottom: 1.6vh;
}
.stories__content p {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 4vh;
  color: #0D606F;
  text-align: left;
  margin-left: 2.6vw;
}

.stories__bg {
  opacity: 0.3;
}

/*# sourceMappingURL=style.css.map */
