html {
  height: 100%;
}

body {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.conteiner {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  text-align: center;
  height: auto;
  margin: 0 auto;
  font-family: "Aleo", serif;
  font-family: "Red Hat Text", sans-serif;
}

h3 {
  text-transform: uppercase;
}

.hide {
  display: none;
}

.show {
  display: block;
}

header {
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.bgImageHeader {
  background-image: url(../../img/bgimgheader.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 765px;
  height: auto;
}

.bgimg {
  position: absolute;
  z-index: -1;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__name {
  font-family: "Magra";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  margin-left: 6px;
}

.nav ul {
  display: flex;
  gap: 42px;
}

.nav__item {
  text-decoration: none;
  list-style-type: none;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
}

.btn {
  max-width: 103px;
  max-height: 41px;
  background: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
}

.preview__title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
  text-align: left;
}

.preview__subtitle {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 45px;
  text-align: left;
}

.form {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  max-width: 892px;
  height: 95px;
}

.form__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.form__items input {
  margin: 28px 0;
}

.form__text[placeholder] {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  outline: none;
  border: none;
  background: none;
  width: 60%;
}

.form__text::placeholder {
  color: #F2785C;
}

.form__btn {
  max-width: 163px;
  border: none;
}

.steps {
  margin-top: 334px;
}

.steps__item {
  display: flex;
  justify-content: space-around;
}

.steps__title h3 {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

.steps__elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.elem__img {
  background-color: #F2785C;
  border-radius: 16px;
  padding: 25px;
}

.elem__text {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.backimg {
  background-image: url(../../img/storiesBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 765px;
  height: auto;
  z-index: -1;
  max-width: 100%;
  bottom: 0px;
}

.stories {
  background-color: rgba(255, 255, 255, 0.7);
}

.stories__item {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  flex-direction: row;
}

.item__text {
  text-align: start;
  margin-left: 15px;
  width: 60%;
}
.item__text h4 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
  margin: 0;
}
.item__text p {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
  margin-top: 4px;
}

.mobile__menu {
  background: #F2785C;
  box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
  border-radius: 10px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.mobile {
  margin: 8px;
}

.mobile__close {
  color: #fff;
  width: 24px;
  height: 24px;
  margin: 5px 0 0 5px;
  cursor: pointer;
}

.burger__btn {
  display: none;
}

@media (max-width: 847px) {
  .burger__btn {
    display: inline;
  }
  .nav {
    display: none;
  }
}
.slider__line {
  margin: 0 auto;
  width: 800px;
  display: flex;
  justify-content: center;
}

.slider__img {
  width: 400px;
  height: auto;
}

.slider__nav {
  display: flex;
  gap: 35px;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
